PROJECT_NAME="rag"
GROQ_API_KEY=""


FILE_ALLOWED_TYPES= ["text/plain","application/pdf"]
FILE_MAX_SIZE= 10

FILE_DEFAULT_CHUNK_SIZE = 512000

MONGODB_URL = ""
MONGODB_DATABASE = "mini_rag2"


# ========================= LLM Config =========================

GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY="sk-"
OPENAI_API_URL=
COHERE_API_KEY=

GENERATION_MODEL_ID_LITERAL = ["gpt-4o-mini", "gpt-4o"]
GENERATION_MODEL_ID="command-a-03-2025"
EMBEDDING_MODEL_ID="embed-v4.0"
EMBEDDING_MODEL_SIZE=1024

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200


# ========================= Vector DB Config =========================

VECTOR_DB_BACKEND = "QDRANT"
VECTOR_DB_BACKEND = "PGVECTOR"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_METHOD = "cosine"
VECTOR_DB_PGVEC_INDEX_THRESHOLD =